@import url("https://fonts.googleapis.com/css2?&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Fontspring Recoleta Alt";
  src: url("/fonts/Fontspring-recoletaalt-medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Figtree";
  src: url("/fonts/figtree/Figtree-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Figtree";
  src: url("/fonts/figtree/Figtree-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Figtree";
  src: url("/fonts/figtree/Figtree-Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Figtree";
  src: url("/fonts/figtree/Figtree-Black.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
:root {
  --background: #fffcf0;
  --foreground: #000;
  --gradientBackground: linear-gradient(0deg, #fffcf0 1.85%, #ffe566 46.02%);
  --gradientLight: linear-gradient(
    180deg,
    rgba(215, 162, 244, 0.292) 0%,
    rgba(238, 208, 255, 0.1898) 48.5%,
    rgba(249, 249, 249, 0.73) 100%
  );
  --fontspring: "Fontspring Recoleta Alt", serif;
  --fontFigtree: "Figtree", sans-serif;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-8px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Plus Jakarta Sans", sans-serif;
}
.text-truncate-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limits text to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.text-truncate-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limits text to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.text-truncate-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Limits text to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.gradient-text {
  background: linear-gradient(180deg, #40254f 0%, #1a0e24 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* display: inline-block; */
}
.hover\:gradient-text:hover {
  background: linear-gradient(180deg, #40254f 0%, #1a0e24 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.group:hover .group-hover\:gradient-text {
  background: linear-gradient(180deg, #40254f 0%, #1a0e24 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.swiper.swiper-horizontal {
  padding-bottom: 80px;
}

.swiper .swiper-wrapper .swiper-slide {
  padding: 0 15px;
}
.testimononial-slider .swiper-wrapper .swiper-slide {
  padding: 0 5px;
}
.testimononial-slider.swiper-horizontal {
  padding-bottom: 0;
}
.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  height: 40px;
  width: 40px;
  left: auto;
  right: auto;
  top: auto;
  bottom: 0;
  left: 45%;
  transform: translateX(-45%);
}
.swiper .swiper-button-next {
  left: 55%;
  transform: translateX(-55%);
}

.swiper .swiper-button-next:hover,
.swiper .swiper-button-prev:hover {
  background-image: var(--gradientBackground);
}
.swiper .swiper-button-next:after {
  transform: rotate(180deg);
}

.swiper .swiper-button-next:after,
.swiper .swiper-button-prev:after {
  content: "";
  height: 20px;
  width: 20px;
  background-image: url("/images/icons/angle-left.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.swiper .swiper-button-next:hover:after,
.swiper .swiper-button-prev:hover:after {
  background-image: url("/images/icons/angle-left-white.svg");
}

.services-swiper.swiper.swiper-horizontal {
  padding-bottom: 50px;
  padding-top: 130px;
  margin-top: -130px;
}
.services-swiper.swiper .swiper-button-next,
.services-swiper.swiper .swiper-button-prev {
  left: auto;
  bottom: auto;
  right: 0;
  top: 25px;
  border-radius: 50%;
  height: 67px;
  width: 67px;
  border: 1px solid #e3e3e3;
}
.services-swiper.swiper .swiper-button-prev {
  right: 80px;
}
.services-swiper.swiper .swiper-button-prev:after {
  transform: rotate(180deg);
}
.services-swiper.swiper .swiper-button-next:after {
  transform: rotate(0deg);
}

.services-swiper.swiper .swiper-button-next:hover,
.services-swiper.swiper .swiper-button-prev:hover {
  border-color: #40254f;
  background-image: none;
}

.services-swiper.swiper .swiper-button-next:after,
.services-swiper.swiper .swiper-button-prev:after {
  background-image: url("/images/icons/arrow-right.svg");
}
.services-swiper.swiper .swiper-button-next:hover:after,
.services-swiper.swiper .swiper-button-prev:hover:after {
  background-image: url("/images/icons/arrow-right.svg");
}

.markdown-content h1 {
  @apply text-3xl font-bold mb-4;
}
.markdown-content p {
  @apply text-lg mb-4;
}
.markdown-content ul {
  @apply list-disc pl-5 mb-4;
}

.loader::after {
  content: "";
  width: calc(100% - 30px);
  height: calc(100% - 15px);
  top: 15px;
  left: 15px;
  border-radius: 14px;
  position: absolute;
  background-image: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.5) 50%,
      transparent 100%
    ),
    linear-gradient(#ddd 100px, transparent 0),
    linear-gradient(#ddd 16px, transparent 0),
    linear-gradient(#ddd 50px, transparent 0);
  background-repeat: no-repeat;
  background-size: 75px 175px, 100% 100px, 100% 16px, 100% 30px;
  background-position: -185px 0, center 0, center 115px, center 142px;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}
.swiper.client-swiper {
  padding-bottom: 0;
}
@keyframes animloader {
  to {
    background-position: 185px 0, center 0, center 115px, center 142px;
  }
}
.map-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 aspect ratio */
  width: 100%;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.smyle-slider .swiper-slide {
  position: relative;
}
.smyle-slider .swiper-slide:not(.swiper-slide-active)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 252, 240, 0.49) -27.07%,
    #fffcf0 100%
  );
  z-index: 1;
}
.blog-content p,
.blog-content ul,
.blog-content ol,
.blog-content h2,
.blog-content h3 {
  color: #222;
  font-style: normal;
  line-height: normal;
  margin-bottom: 16px;
}

.blog-content h2 {
  font-size: 32px;
  font-weight: 700;
}
.blog-content h3 {
  font-size: 24px;
  font-weight: 600;
}
hr {
  border-bottom: 0.5px solid #2b2b2b;
  margin: 1.5rem 0 2rem;
}

.blog-content ul,
.blog-content ol {
  padding-left: 20px;
}
.blog-content ul {
  list-style: disc;
}
.blog-content ol {
  list-style: decimal;
}
.blog-content ul li,
.blog-content ol li {
  font-size: 16px;
  letter-spacing: 0.48px;
}
.testimonial-slide:first-child {
  top: 10%;
  left: 5%;
}
.testimonial-slide:nth-child(2) {
  left: 0;
  top: 60%;
}
.testimonial-slide:nth-child(3) {
  bottom: 5%;
  right: 5%;
}
.testimonial-slide:nth-child(4) {
  top: 40%;
  right: 3%;
}
.testimonial-slide:nth-child(5) {
  top: 2%;
  right: 2%;
}
.testimonial-slide:nth-child(6) {
  top: 20%;
  left: 35%;
}
@media (width >= 1280px) {
  .banner-img {
    transform: translateX(-50%);
  }
}
@media (width >= 1024px) {
  p {
    font-size: 16px;
    line-height: 24px;
  }

  .list-1 li {
    font-size: 16px;
    line-height: 22px;
  }
}
@media (width >= 1536px) {
  p {
    font-size: 20px;
    line-height: 30px;
  }
  .list-1 li {
    font-size: 18px;
  }
}

@media (max-width: 992px) {
  .swiper .swiper-button-next {
    left: 56%;
  }
  .swiper .swiper-button-prev {
    left: 45%;
  }
}
@media (max-width: 767px) {
  .list-1 li,
  p {
    font-size: 16px;
    line-height: normal;
  }
  .swiper .swiper-button-next {
    left: 56%;
  }
  .swiper .swiper-button-prev {
    left: 45%;
  }
  .services-swiper.swiper.swiper-horizontal {
    padding-bottom: 0;
  }
  .services-swiper.swiper .swiper-button-next,
  .services-swiper.swiper .swiper-button-prev {
    right: 0;
    transform: none;
    height: 50px;
    width: 50px;
    top: 35px;
  }

  .services-swiper.swiper .swiper-button-prev {
    right: 60px;
  }
  .blog-content h2 {
    font-size: 24px;
  }
  .blog-content h3 {
    font-size: 20px;
  }
  .blog-content p,
  .blog-content ul li,
  .blog-content ol li {
    font-size: 14px;
    letter-spacing: 0.42px;
  }
}

@keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
@media (width >= 420px) {
  .xsm\:w-\[406px\] {
    width: 406px;
  }
}
@media (width >= 320px) {
  .s2m\:gap-3 {
    gap: 1rem;
  }
}
